

body {
  font-family: 'PT Serif', serif;
  /*font-size: 16px;*/
  text-align: justify;
  /*background-color: #fdf6e3;*/
  background-color: #FFFEFA; /*#fefdf4;*/
  color: #586e75;
  min-width: 575px;
  max-width: 720px;
  margin: 60px;
}

a {
  color: #b58900;
}

a:visited {
  color: #7B6000;
}

h1, h2, h3, h4 {
  font-family: 'Old Standard TT', serif; /*'Noto Sans', sans-serif;*/
  text-align: left;
  margin-top: 30px;
  margin-bottom: -12px;
  color: #56576E; 
}

p {
margin-bottom: -0.33em;
}

header {
    margin-bottom: 40px;
}

header h1 img#M {
  vertical-align: -10px;
  margin-right: 3px;
}

header h1 {
  font-size: 42px;
  display: inline;
  color: #d33682;
  font-variant: small-caps;
}

header h2 {
  display: inline;
  font-size: 36px;
  font-variant: small-caps;
}

header a {
  text-decoration: none;
  color: #d33682;
}

header a:visited {
  color: #d33682;
}

img.screenshot {
  box-shadow: 2px 2px 15px #93a1a1;
  margin-top: 10px;
  margin-bottom: 20px;
}

blockquote {
  display:block;
 /* background: #eee8d5;*/
  background-color: #FFFEFA;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  box-shadow: 2px 2px 15px #FFFEFA;
}

/*blockquote::before {
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  color: #d33682;
  position: absolute;
  left: 10px;
  top: 5px;
}*/



a.small {
  font-size: xx-small;
}


footer {
  font-family: 'Old Standard TT', serif;
  font-size: 22px;
  text-align: left;/*justify;*/
  margin-top: 60px;

}

footer a {
  color: #d33682;
}

footer a:visited {
  color: #d33682;
}

#container{
    width: 100%;
    min-height: 150px;
}
#floated{
    float: right;
    align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
